blueprint.json
{
  "name": "דשבורד בוקר v7 - סופי",
  "flow": [
    {
      "id": 1,
      "module": "google-calendar:searchEvents",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 1
      },
      "mapper": {
        "calendar": "primary",
        "timeMin": "{{formatDate(setHour(setMinute(setSecond(now; 0); 0); 0); \"YYYY-MM-DD[T]HH:mm:ssZZ\")}}",
        "timeMax": "{{formatDate(setHour(setMinute(setSecond(now; 59); 59); 23); \"YYYY-MM-DD[T]HH:mm:ssZZ\")}}",
        "singleEvents": true,
        "orderBy": "startTime",
        "limit": 20
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "Google Calendar",
              "data": { "scoped": "true", "connection": "google" }
            }
          }
        },
        "parameters": [
          { "name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true }
        ]
      }
    },
    {
      "id": 2,
      "module": "util:TextAggregator",
      "version": 1,
      "parameters": {
        "feederModule": 1,
        "rowSeparator": "newline"
      },
      "mapper": {
        "value": "{{formatDate(ifempty(1.start.dateTime; 1.start.date); \"HH:mm\")}} — {{1.summary}}"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "google-email:sendAnEmail",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 2
              },
              "filter": {
                "name": "יש אירועים",
                "conditions": [
                  [
                    {
                      "a": "{{length(2.text)}}",
                      "o": "number:greater",
                      "b": "0"
                    }
                  ]
                ]
              },
              "mapper": {
                "to": ["guycoful@gmail.com"],
                "subject": "{{if(formatDate(now; \"H\") < 12; \"☀️\"; if(formatDate(now; \"H\") < 17; \"🌤️\"; \"🌙\"))}} דשבורד בוקר — {{formatDate(now; \"dddd, DD/MM\")}}",
                "bodyType": "rawHtml",
                "content": "<html dir=\"rtl\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"></head><body style=\"margin:0;padding:0;background:#f0f2f5;font-family:Arial,Helvetica,sans-serif;direction:rtl\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:24px 16px\"><table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.10)\"><tr><td style=\"background:linear-gradient(135deg,#1B2A4A 0%,#2d3f6b 100%);padding:32px 28px;text-align:center\"><div style=\"font-size:40px;margin-bottom:8px\">{{if(formatDate(now; \"H\") < 12; \"☀️\"; if(formatDate(now; \"H\") < 17; \"🌤️\"; \"🌙\"))}}</div><h1 style=\"color:#ffffff;margin:0 0 6px;font-size:24px;font-weight:700\">{{if(formatDate(now; \"H\") < 12; \"בוקר טוב!\"; if(formatDate(now; \"H\") < 17; \"צהריים טובים!\"; \"ערב טוב!\"))}}</h1><p style=\"color:rgba(255,255,255,0.75);margin:0;font-size:14px\">{{formatDate(now; \"dddd, DD בMMMM YYYY\")}}</p></td></tr><tr><td style=\"padding:28px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8f9fc;border-radius:12px;border:1px solid #e8eaf0\"><tr><td style=\"padding:16px 20px;border-bottom:1px solid #e8eaf0\"><p style=\"margin:0;font-size:13px;color:#7C3AED;font-weight:700;letter-spacing:0.5px\">📅 האירועים שלך היום</p></td></tr><tr><td style=\"padding:16px 20px\"><pre style=\"margin:0;font-size:15px;color:#1B2A4A;line-height:1.9;font-family:Arial,Helvetica,sans-serif;white-space:pre-line\">{{2.text}}</pre></td></tr></table><div style=\"margin-top:24px;text-align:center\"><a href=\"https://calendar.google.com\" style=\"display:inline-block;background:#7C3AED;color:#ffffff;text-decoration:none;padding:14px 36px;border-radius:10px;font-size:16px;font-weight:700\">📅 פתח את היומן</a></div></td></tr><tr><td style=\"padding:14px 28px;background:#f8f9fc;border-top:1px solid #e8eaf0;text-align:center\"><p style=\"margin:0;font-size:11px;color:#aaa\">נוצר אוטומטית עם Make.com ❤️</p></td></tr></table></td></tr></table></body></html>"
              },
              "metadata": {
                "designer": { "x": 900, "y": -180 },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "label": "Gmail",
                      "data": { "scoped": "true", "connection": "google-email" }
                    }
                  }
                },
                "parameters": [
                  { "name": "__IMTCONN__", "type": "account:google-email", "label": "Connection", "required": true }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "google-email:sendAnEmail",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 2
              },
              "filter": {
                "name": "אין אירועים",
                "conditions": [
                  [
                    {
                      "a": "{{length(2.text)}}",
                      "o": "number:equal",
                      "b": "0"
                    }
                  ]
                ]
              },
              "mapper": {
                "to": ["guycoful@gmail.com"],
                "subject": "🎉 יום פנוי! — {{formatDate(now; \"DD/MM/YYYY\")}}",
                "bodyType": "rawHtml",
                "content": "<html dir=\"rtl\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"></head><body style=\"margin:0;padding:0;background:#f0f2f5;font-family:Arial,Helvetica,sans-serif;direction:rtl\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" style=\"padding:24px 16px\"><table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.10)\"><tr><td style=\"background:linear-gradient(135deg,#1B2A4A 0%,#2d3f6b 100%);padding:32px 28px;text-align:center\"><div style=\"font-size:56px;margin-bottom:8px\">🎉</div><h1 style=\"color:#ffffff;margin:0 0 6px;font-size:26px;font-weight:700\">יום פנוי לגמרי!</h1><p style=\"color:rgba(255,255,255,0.75);margin:0;font-size:14px\">{{formatDate(now; \"dddd, DD בMMMM YYYY\")}}</p></td></tr><tr><td style=\"padding:40px 28px;text-align:center\"><div style=\"font-size:60px;margin-bottom:16px\">🏖️</div><h2 style=\"color:#1B2A4A;margin:0 0 12px;font-size:22px\">אין פגישות היום</h2><p style=\"color:#666;font-size:16px;margin:0 0 28px;line-height:1.6\">יום פתוח לעבודה ממוקדת, מנוחה, או כל מה שתבחר.</p><a href=\"https://calendar.google.com\" style=\"display:inline-block;background:#7C3AED;color:#ffffff;text-decoration:none;padding:14px 36px;border-radius:10px;font-size:16px;font-weight:700\">📅 פתח יומן</a></td></tr><tr><td style=\"padding:14px 28px;background:#f8f9fc;border-top:1px solid #e8eaf0;text-align:center\"><p style=\"margin:0;font-size:11px;color:#aaa\">נוצר אוטומטית עם Make.com ❤️</p></td></tr></table></td></tr></table></body></html>"
              },
              "metadata": {
                "designer": { "x": 900, "y": 180 },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "label": "Gmail",
                      "data": { "scoped": "true", "connection": "google-email" }
                    }
                  }
                },
                "parameters": [
                  { "name": "__IMTCONN__", "type": "account:google-email", "label": "Connection", "required": true }
                ]
              }
            }
          ]
        }
      ],
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "eu1.make.com"
  }
}
