blueprint.json
{
  "name": "Morning Dashboard v5",
  "flow": [
    {
      "id": 1,
      "module": "google-calendar:searchEvents",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 1
      },
      "mapper": {
        "calendar": "primary",
        "timeMin": "{{formatDate(setHour(setMinute(setSecond(now; 0); 0); 0); \"YYYY-MM-DD[T]HH:mm:ssZZ\")}}",
        "timeMax": "{{formatDate(setHour(setMinute(setSecond(now; 59); 59); 23); \"YYYY-MM-DD[T]HH:mm:ssZZ\")}}",
        "singleEvents": true,
        "orderBy": "startTime",
        "limit": 20
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "Google Calendar Connection",
              "data": {
                "scoped": "true",
                "connection": "google"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "google-calendar:searchEvents",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 1
      },
      "mapper": {
        "calendar": "primary",
        "timeMin": "{{formatDate(setHour(setMinute(setSecond(addDays(now; 1); 0); 0); 0); \"YYYY-MM-DD[T]HH:mm:ssZZ\")}}",
        "timeMax": "{{formatDate(setHour(setMinute(setSecond(addDays(now; 1); 59); 59); 23); \"YYYY-MM-DD[T]HH:mm:ssZZ\")}}",
        "singleEvents": true,
        "orderBy": "startTime",
        "limit": 20
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "Google Calendar Connection",
              "data": {
                "scoped": "true",
                "connection": "google"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "util:TextAggregator",
      "version": 1,
      "parameters": {
        "feederModule": 1
      },
      "mapper": {
        "rowSeparator": "",
        "text": "{{formatDate(start; \"HH:mm\")}} - {{summary}}\n"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "util:TextAggregator",
      "version": 1,
      "parameters": {
        "feederModule": 2
      },
      "mapper": {
        "rowSeparator": "",
        "text": "{{formatDate(start; \"HH:mm\")}} - {{summary}}\n"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "routes": [
        {
          "flow": [
            {
              "id": 6,
              "module": "google-email:sendAnEmail",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 2
              },
              "filter": {
                "name": "יש אירועים",
                "conditions": [
                  [
                    {
                      "a": "{{length(3.text)}}",
                      "o": "number:greater",
                      "b": "0"
                    }
                  ]
                ]
              },
              "mapper": {
                "to": [
                  "__YOUR_EMAIL__"
                ],
                "subject": "☀️ הלו\"ז שלך להיום - {{formatDate(now; \"DD/MM/YYYY\")}}",
                "bodyType": "rawHtml",
                "content": "<html dir='rtl' lang='he'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background-color:#f8f7ff;font-family:Arial,Helvetica,sans-serif;direction:rtl'><table role='presentation' width='100%' cellpadding='0' cellspacing='0' style='background-color:#f8f7ff'><tr><td align='center' style='padding:20px 10px'><table role='presentation' width='600' cellpadding='0' cellspacing='0' style='max-width:600px;width:100%;background-color:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)'><tr><td style='background:linear-gradient(135deg,#1B2A4A 0%,#2d3e63 100%);padding:30px 40px;text-align:center'><h1 style='margin:0;color:#ffffff;font-size:24px;font-weight:700'>{{if(formatDate(now;\"H\") < 12; \"בוקר טוב!\"; if(formatDate(now;\"H\") < 17; \"צהריים טובים!\"; \"ערב טוב!\"))}}</h1><p style='margin:8px 0 0;color:#c4b5fd;font-size:14px'>{{formatDate(now; \"DD/MM/YYYY\")}}</p></td></tr><tr><td style='padding:30px 40px'><h2 style='margin:0 0 16px;color:#1B2A4A;font-size:18px;border-right:4px solid #7C3AED;padding-right:12px'>📅 האירועים שלך להיום</h2><div style='background-color:#f8f7ff;border-radius:8px;padding:16px 20px;border:1px solid #e9e5ff'><pre style='margin:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.8;color:#1B2A4A;white-space:pre-wrap;direction:rtl'>{{3.text}}</pre></div></td></tr>{{if(4.text; \"<tr><td style='padding:0 40px 30px'><h2 style='margin:0 0 16px;color:#1B2A4A;font-size:18px;border-right:4px solid #7C3AED;padding-right:12px'>🔮 הצצה למחר</h2><div style='background-color:#f0f0ff;border-radius:8px;padding:16px 20px;border:1px solid #e0e0ff'><pre style='margin:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.8;color:#1B2A4A;white-space:pre-wrap;direction:rtl'>\" + 4.text + \"</pre></div></td></tr>\"; \"\")}}<tr><td style='padding:20px 40px;border-top:1px solid #f0f0f0;text-align:center'><p style='margin:0;color:#a0a0a0;font-size:12px'>נוצר אוטומטית עם Make.com</p></td></tr></table></td></tr></table></body></html>"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": -150
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "label": "Gmail Connection",
                      "data": {
                        "scoped": "true",
                        "connection": "google-email"
                      }
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google-email",
                    "label": "Connection",
                    "required": true
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "google-email:sendAnEmail",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 2
              },
              "filter": {
                "name": "אין אירועים",
                "conditions": [
                  [
                    {
                      "a": "{{length(3.text)}}",
                      "o": "number:equal",
                      "b": "0"
                    }
                  ]
                ]
              },
              "mapper": {
                "to": [
                  "__YOUR_EMAIL__"
                ],
                "subject": "🎉 יום חופשי! - {{formatDate(now; \"DD/MM/YYYY\")}}",
                "bodyType": "rawHtml",
                "content": "<html dir='rtl' lang='he'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background-color:#f8f7ff;font-family:Arial,Helvetica,sans-serif;direction:rtl'><table role='presentation' width='100%' cellpadding='0' cellspacing='0' style='background-color:#f8f7ff'><tr><td align='center' style='padding:20px 10px'><table role='presentation' width='600' cellpadding='0' cellspacing='0' style='max-width:600px;width:100%;background-color:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)'><tr><td style='background:linear-gradient(135deg,#1B2A4A 0%,#2d3e63 100%);padding:30px 40px;text-align:center'><h1 style='margin:0;color:#ffffff;font-size:24px;font-weight:700'>{{if(formatDate(now;\"H\") < 12; \"בוקר טוב!\"; if(formatDate(now;\"H\") < 17; \"צהריים טובים!\"; \"ערב טוב!\"))}}</h1><p style='margin:8px 0 0;color:#c4b5fd;font-size:14px'>{{formatDate(now; \"DD/MM/YYYY\")}}</p></td></tr><tr><td style='padding:30px 40px;text-align:center'><h2 style='margin:0 0 12px;color:#7C3AED;font-size:22px'>🎉 יום חופשי!</h2><p style='margin:0;color:#555555;font-size:16px;line-height:1.6'>אין פגישות היום! תתענג 🎉</p></td></tr>{{if(4.text; \"<tr><td style='padding:0 40px 30px'><h2 style='margin:0 0 16px;color:#1B2A4A;font-size:18px;border-right:4px solid #7C3AED;padding-right:12px'>🔮 אבל מחר יש לך:</h2><div style='background-color:#f0f0ff;border-radius:8px;padding:16px 20px;border:1px solid #e0e0ff'><pre style='margin:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.8;color:#1B2A4A;white-space:pre-wrap;direction:rtl'>\" + 4.text + \"</pre></div></td></tr>\"; \"\")}}<tr><td style='padding:20px 40px;border-top:1px solid #f0f0f0;text-align:center'><p style='margin:0;color:#a0a0a0;font-size:12px'>נוצר אוטומטית עם Make.com</p></td></tr></table></td></tr></table></body></html>"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 150
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "label": "Gmail Connection",
                      "data": {
                        "scoped": "true",
                        "connection": "google-email"
                      }
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google-email",
                    "label": "Connection",
                    "required": true
                  }
                ]
              }
            }
          ]
        }
      ],
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com"
  }
}